<div class="container mt-2">
  <div class="card border-0 bg-transparent mb-3">
    <div class="row g-0">
      <div class="col-md-4" style="margin: auto;">
        <div>
          <type-text-animation></type-text-animation>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="row">
            <h5 class="card-title">About me</h5>
            <p class="card-text">
              A professional Business Analyst in Healthcare IT Industry with a passion to develop 
              remarkable software solutions which improves the standard of healthcare delivery in any system.
            </p>
            <p class="card-text">I'm a self taught software developer - full stack and machine learning enthusiast.</p>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <p class="card-text"><small class="text-muted"><hr></small></p>
         <div class="row d-flex">
          <div class="col-md-6">
            <h5 class="card-title">I'm from</h5>
            <p class="card-text">Hyderabad - Telangana</p>
            <p class="card-text">India.</p>
          </div>
          <div class="col-md-6 d-flex">
            <div class="d-flex justify-content-center align-items-center">
              <a href=""><i class="bi bi-linkedin mx-2" style="font-size: 2rem; color: cornflowerblue;"></i></a>
              <a href=""><i class="bi bi-facebook mx-2" style="font-size: 2rem; color: cornflowerblue;"></i></a>
              <a href=""><i class="bi bi-instagram mx-2" style="font-size: 2rem; color: cornflowerblue;"></i></a>
              <a href=""><i class="bi bi-twitter mx-2" style="font-size: 2rem; color: cornflowerblue;"></i></a>
            </div>
          </div>
         </div>
         <p class="card-text"><small class="text-muted"><hr></small></p>
        </div>
      </div>
    </div>
  </div>
</div>